= javascript_include_tag :ckeditor
= form_for(@message) do |f|
  - if @message.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@message.errors.count, 'error')} ошибок в процессе сохранения:"
      %ul
      - @message.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :content
    %br
    = f.cktext_area :content, :toolbar=>'Easy', :width=>'700px', :height=>'200px'
  .field
    = f.label :published
    %br
    = f.check_box :published

  .actions
    = f.submit
