= form_for(@message) do |f|
  - if @message.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@message.errors.count, 'error')} ошибок в процессе сохранения:"
      %ul
      - @message.errors.full_messages.each do |msg|
        %li= msg
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  / .form-group
  /   = f.label :title
  /   %br
  /   = f.text_field :title
  .form-group
    = f.label :content
    = f.cktext_area :content, ckeditor: {toolbar: 'mini'}, class: 'form-control'
  .form-group
    = f.label :tags
    = text_field_tag :tags, params[:tags] || @message.tag_list, :size => 30, class: 'form-control'
  .form-group
    = f.label :categories
    %br
    - Category.all.each do |category|
      .checkbox-inline
        = check_box_tag('message[category_ids][]', category.id, @message.categories.include?(category))
        = category.title
  %hr
  .form-group
    .checkbox
      = f.label :published
      = f.check_box :published
  .form-group
    = f.submit class: 'btn btn-primary'
