%h1= t('.title')

- @messages.each do |message|
  %div
    %h2= link_to(message.title, message)
    =raw message.content
    .clear
    .small.paggind
      .ui-icon.ui-icon-calendar{:style => "float: left; margin-right: 0.3em;"}
      %em= l(@message.created_at, :format => 'short')
      \/
      %strong= message.user.full_name
      - if user_signed_in?
        .actions
          = link_to t('edit'), edit_message_path(message)
          = link_to t('destroy'), message, :confirm => t('are_you_sure'), :method => :delete

= will_paginate(@messages)