- title(APP_CONFIG['site_name'])
%h1= yield(:title)

- @messages.each do |message|
  %div
    %h2= link_to(message.title, message)
    =raw message.content
    .clear.small
      = message_tags(message)
      = message_created(message)
      = message_actions(message) if user_signed_in?

= will_paginate(@messages)
- if @messages.empty?
  %h4= t('.messages_not_found')