- title(@message.title)
%h1= @message.title
- if user_signed_in?

%p
  =raw @message.content
  .clear
  .small.padding
    %em.time= l(@message.created_at, :format => 'short')
    \/
    %strong= @message.user.full_name
  .actions
    = link_to t('edit'), edit_message_path(@message)
    = @message.published ? '' : 'черновик'
