%h1= @message.title
- if user_signed_in?
  .manage
    = link_to t('back'), messages_path
    = link_to t('edit'), edit_message_path(@message)
%p
  = @message.content
  .small
    %em= @message.created_at.to_s(:short)
    %strong= @message.user.full_name
- if user_signed_in?
  = Message.human_attribute_name :published
  = @message.published ? 'yes' : 'no'
