%h1= @message.title
- if user_signed_in?
  .actions
    = link_to t('back'), messages_path
    = link_to t('edit'), edit_message_path(@message)
    .status= @message.published ? 'public' : 'private'
%p
  = @message.content
  .small
    %em.time= @message.created_at.to_s(:short)
    %strong= @message.user.full_name

