!!! 5
%html{:lang => "ru"}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'keywords', :lang => "ru", :content => yield(:keywords) +' '+ APP_CONFIG['keywords']}
    %meta{:name => 'description', :lang => "ru", :content => yield(:description) +' '+ APP_CONFIG['description']}
    %link{:rel => 'shortcut icon', :href => '/images/favicon.gif'}
    %title= yield(:title) ? yield(:title) : APP_CONFIG['site_name']
    = auto_discovery_link_tag('rss', '/messages.rss', {:title => "RSS #{APP_CONFIG['site_name']}"})
    = csrf_meta_tag
    = javascript_include_tag 'application'
    %link{:rel => 'canonical', :href => request.env['REQUEST_URI']}
  %body
    - unless APP_CONFIG['google_analytics_uacct'].blank?
      :javascript
        window.google_analytics_uacct = '#{APP_CONFIG['google_analytics_uacct']}';
    = link_to(image_tag('forkme_right_red_aa0000.png', :style => 'position: absolute; top: 0; right: 0; border: 0; z-index: 1;', :alt => 'Fork me on GitHub'), 'https://github.com/bublik/aboutme')
    = render :partial => 'layouts/header'
    .container
      .row= render_flash_messages
    .container
      .col-md-9= yield
      .col-md-3
        .row= render 'layouts/navigation'
        .row.social= render partial: 'layouts/addthis'

    #footer
      .container
        .col-md-12.text-center
          &copy; 2010
          |
          = link_to('LighCraft', 'http://lightcraft.com.ua')

    = stylesheet_link_tag 'application'
    -cache do
      = render partial: 'layouts/google_analytics'
      = render partial: 'layouts/google_plus'
